@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

    html,body,div,span,applet,object,iframe,
    h1,h2,h3,h4,h5,h6,p,blockquote,pre,
    a,abbr,acronym,address,big,cite,code,
    del,dfn,em,img,ins,kbd,q,s,samp,
    small,strike,strong,sub,sup,tt,var,
    b,u,i,center,
    dl,dt,dd,ol,ul,li,
    fieldset,form,label,legend,
    table,caption,tbody,tfoot,thead,tr,th,td,
    article,aside,canvas,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section,summary,
    time,mark,audio,video{
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        font:inherit;
        vertical-align:baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section{
        display:block;
    }
    body{
        line-height:1;
    }
    ol,ul{
        list-style:none;
    }
    blockquote,q{
        quotes:none;
    }
    blockquote:before,blockquote:after,
    q:before,q:after{
        content:’’;
        content:none;
    }
    /* remember to define visible focus styles! 
    :focus{
        outline:?????;
    } */
    
    /* remember to highlight inserts somehow! */
    ins{
        text-decoration:none;
    }
    del{
        text-decoration:line-through;
    }
    
    table{
        border-collapse:collapse;
        border-spacing:0;
    }

    body {
        margin: 0 auto;
        width: 90%;
        max-width: 1240px;
        background-image: url(https://images.pexels.com/photos/2117937/pexels-photo-2117937.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    }
    
    /* Tipografia */
    
    h1 {
        font-size: 35px;
        font-weight: 300;
        flex: 1;
        font-family: 'Shippori Antique B1';
    }
    
    h5 {
        font-weight: 500;
        line-height: 1.7em;
    }
    
    h6 {
        color: #666;
        font-size: 14px;
    }
    
    .product-filter {
        display: flex;
        padding: 30px 0;
    }
    
    .sort {
        display: flex;
        align-self: flex-end;
    }
    
    .collection-sort {
        display: flex;
        flex-direction: column;
    }
    
    .collection-sort:first-child {
        padding-right: 20px;
    }
    
    label {
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: 900;
        line-height: 2em;
        text-transform: uppercase;
    }
    
    .products {
        display: flex;
        flex-wrap: wrap;
    }
    
    .product-card {
        display: flex;
        flex-direction: column;
        margin: 1em;
        padding: 2%;
        flex: 1 16%;
        border-radius: 2em;
        background-color: #C5C5C5;
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    }

    .product-card:nth-child(1){
        background-image: url(https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-size: cover;
        flex-grow: 4;
        
    }

    .product-card:nth-child(1) img{
        display: none;
    }

    .product-card:nth-child(1) h6, .product-card:nth-child(1) h5{
        visibility: hidden;
    }

    .product-card:nth-child(1) h5::after{
        display: inline;
        background-color: #c0bcbcc9;
        color: rgb(0, 0, 0);
        margin-bottom: 300px;
        margin-right: 15%;
        padding: 2px 10px;
        font-size: 3em;
        line-height: 1.34;
        -webkit-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
        font-weight: 400;
        letter-spacing: 0.1em;
        white-space: normal;
        text-transform: uppercase;
        visibility: visible;
        text-align: left;
        content: 'Oferta';
        position: absolute;
        border-radius: 2em;
        top: 40%;
        right: 59%;
        box-sizing: content-box;
    }
    
    .product-card:nth-child(1) h6::after{
        display: inline;
        color: rgb(0, 0, 0);
        margin-bottom: 10px;
        margin-right: 15%;
        padding: 2px 10px;
        font-size: 1em;
        line-height: 1.34;
        -webkit-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
        font-weight: 700;
        letter-spacing: 0.1em;
        white-space: normal;
        text-transform: uppercase;
        visibility: visible;
        text-align: left;
        content: 'Ver todo';
        position: relative;
        box-sizing: content-box;
    }

    h2{
        font-size: 30pt;
        color: white;
        background-color: rgb(0, 153, 255);
        font-family: 'Shippori Antique B1';
        margin-top: 3em;
        width: 80%;
        padding: 1em;
    }

    
    .product-image img {
        width: 100%;
    }
    
    .product-info {
        margin-top: auto;
        padding-top: 20px;
        text-align: center;
    }
    
    @media ( max-width: 920px ) {
        
        .product-card {
            flex: 1 21%;
        }
        
        .products .product-card:first-child, 
        .products .product-card:nth-child(2) {
            flex: 2 46%;
        }
        
    }
    
    @media ( max-width: 600px ) {
        
        .product-card {
            flex: 1 46%;
        }
        
    }
    
    @media ( max-width: 480px ) {
        
        h1 {
            margin-bottom: 20px;
        }
        
        .product-filter {
            flex-direction: column;
        }
        
        .sort {
            align-self: flex-start;
        }
        
    }